---
import './Footer.css'
import Link from 'src:components/Link.astro'

const today = new Date()
---
<footer class="footer">
	<p class="-copyright">
		&copy; {today.getFullYear()} Jonathan Neal
	</p>
	<nav class="-nav">
		<Link href="/blog/">Blog</Link>
		<Link href="https://github.com/jonathantneal">GitHub</Link>
		<Link href="https://twitter.com/jon_neal">Twitter</Link>
	</nav>
</footer>