---
import type { HTMLAttributes } from 'astro/types'

export type Props = HTMLAttributes<'a'> & {
	href: string
}

const attrs = Astro.props
const url = new URL(attrs.href, Astro.url)

const isExternalLink = url.origin !== Astro.url.origin
const isActiveLink = url.href === Astro.url.href
---
<a
	aria-current={isActiveLink ? 'page' : null}
	target={isExternalLink ? '_blank' : null}
	rel={isExternalLink ? 'external' : null}
	{...attrs}
>
	<slot />
</a>