---
import type { Post } from 'src:consts'

import './NextBlog.css'

import { posts } from 'src:posts'
import Link from 'src:components/Link.astro';
import Time from 'src:components/Time.astro';

export type Props = {
	title: string
	published: string
}

const postIndex = posts.findIndex(
	post => (
		post.data.title === Astro.props.title
	) && (
		post.data.published === Astro.props.published
	)
)

const nextPost: Post | null = postIndex === -1 ? null : posts.at(postIndex - 1) || null
---
{
	nextPost ? (
		<div class="nextblog">
			<Time>{
				nextPost.data.published
			}</Time>
			<span class="-spacer"></span>
			<Link href={`/blog/${nextPost.slug}/`}>{
				nextPost.data.title
			}</Link>
		</div>
	) : null
}